<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Groups</title>

</head>
<body>
<div class="container">
    <div th:if="${not #lists.isEmpty(crmgroups)}">
        <h2>List groups</h2>
        <span th:text="${message}">Message</span>
        <table class="table table-striped" border="1">
            <p>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Created at</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                <tr th:each="group,iterationStatus : ${crmgroups}">
                    <td th:text="${group.id}">Id</td>
                    <td><a th:href="${'/crmproducts/' + group.id}" th:text="${group.name}">Name</a></td>
                    <td th:text="${group.createdAt}">Created At</td>
                    <td><a th:href="${'/crmgroup/edit/' + group.id}">Edit</a></td>
                    <td><a th:href="${'/crmgroup/delete/' + group.id}">Delete</a></td>
                </tr>
            </p>

        </table>
        <p>
        <form class="form-horizontal" th:action="@{'/crmgroups/send_groups_report/'}" method="post">
            <div class="row">
                <input type="submit" value="Send report"/>
            </div>
        </form>
        </p>

    </div>
    <p>
    <div class="row">
        <form class="form-horizontal" th:action="@{'/crmgroup/create/'}">
            <div class="row">
                <input type="submit" value="Create"/>
            </div>
        </form>
    </div>
    </p>
    <div class="row">
        <form th:action="@{/logout}" method="post">
            <div>
                <input type="submit" value="Sign Out"/>
            </div>

        </form>
    </div>

    <div class="row">

        <div class="col-sm-7">
            <!-- Pagination Bar -->
            <div th:fragment='paginationbar'>
                <div class="text-center">
                    <ul class='pagination pagination-centered'>
                        <td th:class="${page.firstPage}?'disabled':''">
                            <span th:if='${page.firstPage}'>← First</span>
                            <a th:if='${not page.firstPage}' th:href='@{${page.url}(page=0,size=${page.size})}'>←
                                First</a>
                        </td>
                        <td th:class="${page.hasPreviousPage}? '' : 'disabled'">
                            <span th:if='${not page.hasPreviousPage}'>«</span>
                            <a th:if='${page.hasPreviousPage}'
                               th:href='@{${page.url}(page=${page.number-2},size=${page.size})}'
                               title='Go to previous page'>«</a>
                        </td>
                        <td th:each='item : ${page.items}' th:class="${item.current}? 'active' : ''">
                            <span th:if='${item.current}' th:text='${item.number}'>1</span>
                            <a th:if='${not item.current}'
                               th:href='@{${page.url}(page=${item.number-1},size=${page.size})}'><span
                                    th:text='${item.number}'>1</span></a>
                        </td>
                        <td th:class="${page.hasNextPage}? '' : 'disabled'">
                            <span th:if='${not page.hasNextPage}'>»</span>
                            <a th:if='${page.hasNextPage}'
                               th:href='@{${page.url}(page=${page.number},size=${page.size})}'
                               title='Go to next page'>»</a>
                        </td>
                        <td th:class="${page.lastPage}? 'disabled' : ''">
                            <span th:if='${page.lastPage}'>Last →</span>
                            <a th:if='${not page.lastPage}'
                               th:href='@{${page.url}(page=${page.totalPages - 1},size=${page.size})}'>Last →</a>
                        </td>
                    </ul>
                </div>
            </div>
        </div>


    </div>

</div>

</body>
</html>