<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Groups</title>

</head>
<body>
<div class="container">
    <div th:if="${not #lists.isEmpty(crmproducts)}">
        <h2>List products</h2>
        <span th:text="${message}">Message</span>
        <table class="table table-striped" border="1">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Created at</th>
                <th>Article</th>
                <th>Product id</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="product,iterationStatus : ${crmproducts}">
                <td th:text="${product.id}">Id</td>
                <td th:text="${product.name}">Name</td>
                <td th:text="${product.createdAt}">Created At</td>
                <td th:text="${product.article}">Article</td>
                <td th:text="${product.groupId.id}">Product id</td>
                <td><a th:href="${'/crmproducts/edit/' + product.id}">Edit</a></td>
                <td><a th:href="${'/crmproducts/delete/' + product.id}">Delete</a></td>
            </tr>
            <form class="form-horizontal" th:action="@{'/crmproducts/create/'}">
                <div class="row">
                    <input type="submit" value="Create"/>
                </div>
            </form>
            <form class="form-horizontal" th:action="@{'/crmproducts/send_products_report/' + groupId}" method="post">
                <div class="row">
                    <input type="submit" value="Send report"/>
                </div>
            </form>
        </table>

    </div>


    <div class="row">

        <div class="col-sm-7">
            <!-- Pagination Bar -->
            <div th:fragment='paginationbar'>
                <div class="text-center">
                    <ul class='pagination pagination-centered'>
                        <td th:class="${page.firstPage}?'disabled':''">
                            <span th:if='${page.firstPage}'>← First</span>
                            <a th:if='${not page.firstPage}'
                               th:href='@{${page.url}(groupId=${groupId},page=0,size=${page.size})}'>←
                                First</a>
                        </td>
                        <td th:class="${page.hasPreviousPage}? '' : 'disabled'">
                            <span th:if='${not page.hasPreviousPage}'>«</span>
                            <a th:if='${page.hasPreviousPage}'
                               th:href='@{${page.url}(groupId=${groupId},page=${page.number-2},size=${page.size})}'
                               title='Go to previous page'>«</a>
                        </td>
                        <td th:each='item : ${page.items}' th:class="${item.current}? 'active' : ''">
                            <span th:if='${item.current}' th:text='${item.number}'>1</span>
                            <a th:if='${not item.current}'
                               th:href='@{${page.url}(groupId=${groupId},page=${item.number-1},size=${page.size})}'><span
                                    th:text='${item.number}'>1</span></a>
                        </td>
                        <td th:class="${page.hasNextPage}? '' : 'disabled'">
                            <span th:if='${not page.hasNextPage}'>»</span>
                            <a th:if='${page.hasNextPage}'
                               th:href='@{${page.url}(groupId=${groupId},page=${page.number},size=${page.size})}'
                               title='Go to next page'>»</a>
                        </td>
                        <td th:class="${page.lastPage}? 'disabled' : ''">
                            <span th:if='${page.lastPage}'>Last →</span>
                            <a th:if='${not page.lastPage}'
                               th:href='@{${page.url}(groupId=${groupId},page=${page.totalPages - 1},size=${page.size})}'>Last
                                →</a>

                        </td>

                        <td th:class="${page.lastPage}? 'disabled' : ''">
                            <span th:if='${page.lastPage}'>go →</span>
                            <a th:if='${not page.lastPage}'
                               th:href="@{${page.url} + '/' + ${groupId}(page=${page.totalPages - 1},size=${page.size})}">go
                                →</a>

                        </td>
                    </ul>
                </div>
            </div>
        </div>


    </div>
    <form class="form-horizontal" th:action="@{'/crmgroups'}" method="get">
        <div class="row">
            <input type="submit" value="Back to groups"/>
        </div>
    </form>

</div>

</body>
</html>