<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Display Products Details</title>
</head>
<body>

<div>
    <form action="#" th:action="@{save_group}" th:object="${group}" method="post">
        <label>ID</label>
        <input type="text" id="id" name="id" th:field="${group.id}" th:readonly="true"/>
        <br>
        <br>
        <label>NAME</label>
        <input type="text" id="name" name="name" th:field="${group.name}"/>
        <br>
        <br>
        <label>CREATED_AT</label>
        <input type="date" id="createdAt" name="createdAt" th:field="${group.createdAt}" th:readonly="true"/>
        <br>
        <br>
        <input type="submit" value="Save" class="btn btn-danger"/>
    </form>
    <form th:action="@{crmgroups}" method="get">
        <input type="submit" value="Back" class="btn btn-danger"/>
    </form>
</div>
</body>
</html>