<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Create group</title>
</head>
<body>

<div>
    <form th:action="@{/save_group}" th:object="${group}" method="post">
        <label>Name</label>
        <br>
        <input type="text" id="name" name="name" th:field="${group.name}"/>
        <label th:if="${#fields.hasErrors('name')}" th:class="'error'" th:errors="*{name}">Error name</label>
        <br>
        <br>
        <label>Created at</label>
        <br>
        <input type="date" id="createdAt" name="createdAt" th:field="${group.createdAt}"/>
        <label th:if="${#fields.hasErrors('createdAt')}" th:class="'error'" th:errors="*{createdAt}">Error createdAt</label>
        <br>
        <br>
        <input type="submit" value="Save" class="btn btn-danger"/>
    </form>
    <form class="form-horizontal" th:action="@{'/crmgroups'}" method="get">
        <div class="row">
            <input type="submit" value="Back to groups"/>
        </div>
    </form>
</div>
</body>
</html>