<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Display Products Details</title>
</head>
<body>

<div>
    <form th:action="@{/save_product/{groupId}(groupId=${groupId})}" th:object="${product}" method="post">
        <label>Id</label>
        <br>
        <input type="text" id="id" name="id" th:field="${product.id}" th:readonly="true"/>
        <br>
        <br>
        <label>Name</label>
        <br>
        <input type="text" id="name" name="name" th:field="${product.name}"/>
        <label th:if="${#fields.hasErrors('name')}" th:class="'error'" th:errors="*{name}">Error name</label>
        <br>
        <br>
        <label>Created at</label>
        <br>
        <input type="date" id="createdAt" name="createdAt" th:field="${product.createdAt}" th:readonly="true"/>
        <br>
        <br>
        <label>Article</label>
        <br>
        <input type="text" id="article" name="article" th:field="${product.article}"/>
        <label th:if="${#fields.hasErrors('article')}" th:class="'error'" th:errors="*{article}">Error article</label>
        <br>
        <br>
        <label>Group id</label>
        <br>
        <input type="text" id="groupId" name="groupId" th:field="${product.groupId}"/>
        <label th:if="${#fields.hasErrors('groupId')}" th:class="'error'" th:errors="*{groupId}">Error groupId</label>
        <br>
        <br>
        <input type="submit" value="Save" class="btn btn-danger"/>
    </form>
    <form th:action="@{'/crmproducts/' + ${groupId}(groupId=${groupId})}" method="get">
        <input type="submit" value="Back" class="btn btn-danger"/>
    </form>
</div>
</body>
</html>