<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Create user</title>
</head>
<body>


<div>
    <form th:action="@{/registration}" th:object="${user}" method="post">
        <p>
            <label>Name</label>
            <input type="text" id="name" name="name" th:field="${user.name}"/>
            <label th:if="${#fields.hasErrors('name')}" th:class="'error'" th:errors="*{name}">Error name</label>
        </p>
        <P>
            <label>Password</label>
            <input type="password" id="password" name="password" th:field="${user.password}"/>
            <label th:if="${#fields.hasErrors('password')}" th:class="'error'" th:errors="*{password}">Error
                password</label>
        </P>
        <p>
            <input type="submit" value="Save" class="btn btn-danger"/>
        </p>
    </form>
    <form class="form-horizontal" th:action="@{'/authorization_form'}" method="get">
        <p>
            <input type="submit" value="Back"/>
        </p>
    </form>
</div>
</body>
</html>